# osx metadata or something.
.DS_Store
# resource forks. these shouldn't ever be seen but just in case
._*

# backup files
*~

# binary stuff
*.dSYM
*.exe
*.app
*.o

build/
*.build

*.ncb
*.pdb
*.suo
*.old
*.ilk
*.tlog

*-log.txt

# xcode user files
*.mode1v3
*.pbxuser

*.svn
*.CVS*

RStation/Debug/*
RStation/Release/*

*.obj
BuildLog.htm
*.pch
*.lastbuildstate
*.log
*.user
*.filters
*.lib
*.idb
*.cache